rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 1. Lectura pública: permite que los INVITADOS vean las fotos web
      allow read: if true; 
      
      // 2. Escritura bloqueada: SOLO los usuarios logueados (novios/admin) pueden subir archivos
      allow write: if request.auth != null;
    }
  }
}
